{% extends "Agenda/padre.html" %}

{% block titulo %}
Agregar un avatar
{% endblock titulo %} 


{% block contenido %}

<section class="mt-5">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h1>Formulario - Editar Avatar</h1>
                    

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        
                        {{ mi_formulario.as_p}}
                        
                        <input type="submit" value="Aceptar">
                    </form>

                </div>
            </div>
    </div>
</section>

{% endblock %}