{% extends "Agenda/padre.html" %}

{% block titulo %}
Bienvenido
{% endblock titulo %} 


{% block contenido %}


<section class="features-icons bg-light">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Detalle del Concierto</h1>
                    <p>Banda: {{ concierto.banda }}</p>
                    <p>Fecha: {{ concierto.fecha_concierto }}</p>
                    <p>Lugar: {{ concierto.lugar }}</p>
                    <p>
                        
                        <a href="{% url 'inicio' %}">Regresar</a>
                 
                    </p>
                </div>
            </div>
    </div>
</section>
{% endblock %}