{% extends "Agenda/padre.html" %}

{% block titulo %}
Bienvenidos a CULTA
{% endblock titulo %} 


{% block contenido %}

<section class="features-icons bg-light">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bienvenidos</h1>
                </div>
            </div>
    </div>
</section>

<body>
    <h3>Buscá tu género favorito</h3>
    <form action="{% url 'buscar' %}" method="GET">
    {% csrf_token %}
        <input type="text" name="genero" id="genero">
        <input type="submit" value="buscar">

    </form>
    
</body>
{% endblock %}
