{% extends "Agenda/padre.html" %}

{% block titulo %}
Registro de nuevo usuario
{% endblock titulo %} 


{% block contenido %}

<section class="mt-5">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if mensaje %}
                    <p style="color: red;">{{ mensaje }}</p>
                    {% endif %}

                    <form action=" " method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                        <button type="submit">Crear Usuario</button>
                    

                    </form>
                </div>
            </div>
    </div>
</section>

{% endblock %}